.salle_liste .title
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 2vw;
}
.salle_liste .salle_table
{
    padding: 30px;
    display: grid  ;
}
.salle_liste .salle_table td
{
    font-size: 17px;
    padding: 1.5vw;


}

.salle_liste .salle_table thead td
{
    font-size: 20px;
    font-weight: 600;
    color: white;
    justify-items: center;
}
.salle_liste .salle_table thead
{
    background-color: rgba(48, 43, 43, 0.541);
}
.salle_liste .salle_table .btn_supp
{
    background-color: rgba(255, 0, 0, 0.774);
    padding: 0.8vw 1.5vw;
    color: white;
    font-size: 17px;
    font-weight: 600;
    border-radius:8px;
    border: none;
    cursor: pointer;
    margin-left: -1vw;
}
.salle_liste .salle_table .btn_modif
{
    background-color: rgba(255, 255, 0, 0.801);
    padding: 0.8vw 1.5vw;
    font-size: 17px;
    font-weight: 600;
    border-radius:8px;
    margin-left: 1.2vw;
    border: none;
    cursor: pointer;
}
.btn_creer
{
    display: flex;
    background-color: rgba(0, 128, 0, 0.658);
    padding: 0.6vw 0.8vw;
    font-size: 20px;
    font-weight: 600;
    border-radius:5px;
    border: none;
    cursor: pointer;
}
.formulaire_modif
{
    justify-content: center;
    text-align: center;
}
.formulaire_modif .content
{
    margin-top: 9%;
    display: inline-block;
    overflow: visible;
}
.formulaire_modif .content label
{
    color: #241c15;
    font-weight: 600;
    display: block;
    padding-bottom: 6%;
}
.formulaire_modif .content input[type="text"]
{
    display: inline-block;
    padding: 0 8px;
    margin-bottom: 4%;
    vertical-align: middle;
    width: 78%;
    min-height: 30px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid rgba(36,28,21,0.3);
    border-radius: 2px;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.formulaire_modif .content input[type="submit"]
{
    display: inline-block;
    padding: 0 8px;
    margin-bottom: 2%;
    vertical-align: middle;
    width: 50%;
    min-height: 30px;
    text-align: center;
    background-color: lightblue;
    border: 2px solid rgba(0, 0, 0, 0.521);
    border-radius: 2px;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

